html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: darkgray;
}

#outer-container {
    position: absolute;
    width: 60%;
    height: 60%;
    z-index: 15;
    top: 10%;
    left: 5%;
    background: darkgray;
}

#left-container {
    width: 50%;
    height: 100%;
    float: left;
}

#right-container {
    width: 50%;
    height: 100%;
    float: left;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: none;
}

#form-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.form-group {
    width: 90%;
    height: 90%;
    border-radius: 3px;
    margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=url],
input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    left: 5%;
}

#submit {
    width: 100%;
    height: 45px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #167531;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#submit:hover {
    background-color: #45a049;
}

label,
a {
    font-family: Arial, Helvetica, sans-serif
}